{# src/AppBundle/Resources/views/Submitting/index.html.twig #}
{% extends 'AppBundle:Default:index.html.twig' %}
{% block title %}Submit workflows{% endblock %}
{% block container %}
   		 <div class="container">

		      <div class="workflow_engine-template">
		        <h1>Submit a new workflow</h1>
		        <span class="label label-info">Info</span>
		        <p class="lead">The workflow engine is a work in progress.</p>
		      </div>

    	</div><!-- /.container -->
 		{% endblock %}


