{# src/AppBundle/Resources/views/Admin/index.html.twig #}
{% extends 'AppBundle:Default:index.html.twig' %}
{% block title %}Homepage workflow Engine{% endblock %}
 		{% block container %}
   		 <div class="container">

		      <div class="workflow_engine-template">
		        <h1>Administration page</h1>
		        <span class="label label-info">Info</span>
		        <p class="lead">The workflow engine is a work in progress.</p>
		      </div>

    	</div><!-- /.container -->
 		{% endblock %}

